.header{
	max-width: 1160px;
	margin: auto;
}
.header__nav-bar{
	max-width: 750px;
}
.header__text-box{
	max-width: 550px;
	margin-bottom: 70px;
	color: #313342;
	font-size: 1.5em;
}
.header__text-box h1 {
	font-family: 'Cambria';
	font-size: 2em;
}
.header__text-box p {
	font-family: 'Gilroy Medium';
}
.header__text-link{
	font-family: 'Gilroy Semibold';
	font-size: 1.2em;
	color: #313342!important;
}
.header__nav-bar-button{
	padding: 8px 30px!important; 
	border: 1px solid white;
	border-radius: 10px;
	color: transparent;
	background: white;
}
.header__nav-bar-button:hover{
	color: white!important;
	background: transparent;
}