@media (max-width: 1300px) {
	.section_text-container h1 {
		font-size: 2.5em;
	}

	.section_text-container h2 {
		font-size: 1.5em
	}

	.section_text-container p {
		font-size: 1.2em;
	}
	
	.main_thans-diary-bg:before, .main_wish-diary-bg:before, .main_action-fear-diary-bg:before, .main_diary-of-emotions-bg:before {
		transform: scale(0.9);
	}
	
	.phone-img {
		transform: scale(0.9);
	}
}

@media (max-width: 1200px){
	.main_action-fear-diary-bg:before {
		left: -430px;
		top: -80px;
	}
	
	.main_diary-of-emotions-bg:before {
		top: -70px;
		left: -100px;
	}
	
	.main_wish-diary-bg:before {
		top: -110px;
	}
	
	header nav .btn_download {
		padding: 10px 14px;
	}
}

@media (max-width: 1500px){
	.right-background:before {
		left: 80px;
	}
	
	.right-background {
		margin: 0 0 0 40px;
	}
}

@media (max-width: 991px){
	.row {
		position: relative;
	}

	.right-background {
		position: absolute;
		right: 50px;
	}
	
	.main_wish-diary-bg {
		top: -100px;
		width: 500px;
		position: absolute;
		right: -150px;
	}
	
	.main_diary-of-emotions-bg {
		top: -100px;
		width: 500px;
		position: absolute;
		right: -170px;
	}
	
	.main_thans-diary-bg, .main_action-fear-diary-bg {
		position: absolute;
		left: -90px;
	}
	
	.main_wish-diary-bg:before {
		top: -70px;
		left: 0px;
	}
	
	.main_diary-of-emotions-bg:before {
		top: -90px;
		left: -30px;
	}
}

@media (min-width: 1500px){
	.container {
		max-width: 1400px;
	}
}

@media (min-width: 1921px){
	.main_thans-diary-bg:before {
		left: -200px;
	}
	
	.main_action-fear-diary-bg:before {
		left: -300px;
	}
}