body{
	background: #a9a7b8;
}

html {
	font-family: "Gilroy"; 
}

/* general styles */
.container {
	max-width: 1400px;
}

.section_flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_text-container h1 {
	font-family: 'Cambria';
  font-size: 3em;
  font-weight: 700;
  color: #313342;
}

.section_text-container h2 {
	display: block;
	margin: 30px 0;
}

.section_text-container p {
	font-size: 1.4em;
	font-weight: 600;
	color: #313342;
	line-height: 1.36;
	display: block;
	margin: 30px 0;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	font-size: 	1.2em;
  border-radius: 10px;
  border: none;
  color: #313342;
  font-weight: 600;
  letter-spacing: 1.1px;
  line-height: 1.33;
}

.btn_download {
	background-color: #fff;
}

.btn_download:focus, .btn_download:hover, .btn_download:active {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}

.btn_utp {
	color: #fff;
	background-color: #313342;
	padding: 22px 30px;
	max-width: 530px;
	font-size: 1.4em;
}

/* header styles */
nav {
	padding: 25px 0;
}

.header_nav-link {
	padding: 0 20px;
	font-size: 1.2em;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #313342; 
}

/* main_info-right styles */